@charset "UTF-8";
/*==============================================================# font
==============================================================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #3e3e3e;
  font-family: 'ＭＳ ゴシック',sans-serif;
  background: #F3F3F3;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 12px;
  }
}

a {
  text-decoration: none;
  color: #3e3e3e;
}

.btn-link {
  display: inline-block;
  background: #FFAA3B;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  padding: 16px 50px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .btn-link {
    padding: 16px 32px;
    font-size: 14px;
  }
}

.btn-link:hover {
  background: #F18900;
}

.section-title {
  color: #3e3e3e;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
    font-weight: 600;
  }
}

.black-btn {
  margin-top: 0;
  display: inline-block;
  width: 314px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  line-height: 1.125;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 80px;
  border: 1px solid #FFFFFF;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.black-btn:hover {
  background: #fff;
  color: #3E3E3E;
  border: 1px solid #3e3e3e;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

main {
  background: #F3F3F3;
}

/* header
---------------------------------------------------------------*/
header {
  height: 83px;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  header {
    height: 68px;
  }
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
  }
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 627px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.header-item + .header-item {
  padding-left: 38px;
}

.header-item-link {
  display: block;
  line-height: 83px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.header-item-link::after {
  content: "";
  display: block;
  width: 0px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0px solid #3e3e3e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-item-link:hover:after {
  width: 102px;
  border-bottom: 1px solid #3e3e3e;
}

.header-logo {
  color: #3E3E3E;
  font-size: 23px;
  line-height: 3.34783;
}

.drawer {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 161px 0 155px;
  z-index: 100;
  -webkit-transition: right 0.7s ease 0s;
  transition: right 0.7s ease 0s;
}

.drawer-open {
  right: 0;
}

.drawer-btn {
  position: absolute;
  top: 24px;
  left: -42px;
  width: 26px;
  height: 20px;
}

.drawer-icon {
  display: block;
  height: 20px;
  width: 26px;
  background: url(../img/hamburger.png) no-repeat center center/contain;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.drawer-icon-open {
  background: url(../img/batsu.png) no-repeat center center/contain;
}

.drawer-icon-close {
  display: none;
}

.drawer-list {
  text-align: center;
  margin: 0 auto;
}

.drawer-item {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.22222;
}

.drawer-item + .drawer-item {
  margin-top: 32px;
}

.drawer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  z-index: 99;
  opacity: 0.7;
  display: none;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.drawer-bg-open {
  display: block;
}

/* header
---------------------------------------------------------------*/
.top {
  margin-top: 80px;
  height: 570px;
  background: url(../img/mv.png) no-repeat 0 -80px/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .top {
    margin-top: 67px;
    height: 100%;
    padding: 155px 0 230px;
    background: url(../img/mv.png) no-repeat center center/cover;
  }
}

.top-inner {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .top-inner {
    padding: 0 16px;
  }
}

.top-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .top-container {
    width: 100%;
    margin-left: 0;
  }
}

.top-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

@media screen and (max-width: 767px) {
  .top-title {
    font-size: 23px;
    line-height: 1.66667;
    letter-spacing: 0;
  }
}

.top-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.55556;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .top-text {
    margin-top: 21px;
    font-size: 15px;
    line-height: 1.42857;
    letter-spacing: -2px;
  }
}

.top-btn {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .top-btn {
    width: 100%;
    max-width: 222px;
    margin: 26px auto 0;
  }
}

/* news
---------------------------------------------------------------*/
.news {
  background: #F3F3F3;
  padding: 120px 0 0;
}

@media screen and (max-width: 767px) {
  .news {
    height: 577px;
    position: relative;
  }
}

.news-inner {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .news-inner {
    position: absolute;
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 343px;
    width: 100%;
  }
}

.news-box {
  margin: 0 0 120px;
  padding: 60px 60px 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .news-box {
    padding: 42px 0;
  }
}

.news-head {
  margin: 0 0 60px;
}

@media screen and (max-width: 767px) {
  .news-head {
    margin-bottom: 44px;
  }
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 44px 0;
  border-bottom: 1px solid #CECDCD;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-item:hover {
  background: rgba(73, 115, 255, 0.1);
}

.news-item:first-child {
  border-top: 1px solid #CECDCD;
}

.news-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 26px;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

@media screen and (max-width: 767px) {
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 16px 14px;
  }
}

.news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 251px;
}

@media screen and (max-width: 767px) {
  .news-header {
    margin-bottom: 6px;
  }
}

.news-time {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 767px) {
  .news-time {
    font-size: 14px;
    line-height: 1.42857;
  }
}

.news-label {
  margin-left: 44px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 5px 24px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .news-label {
    margin-left: 26px;
    padding: 2px 14px;
  }
}

.news-title {
  padding-left: 40px;
  width: 65%;
  letter-spacing: 0.45px;
  line-height: 28px /18px;
}

@media screen and (max-width: 767px) {
  .news-title {
    padding-left: 0;
    line-height: 1.66667;
    width: 80%;
  }
}

.news-more {
  margin: 36px auto 0;
  width: 100%;
  max-width: 236px;
  text-align: center;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.125;
  letter-spacing: 0.2;
  padding: 20px 80px;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-more:hover {
  background: #3E3E3E;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .news-more {
    margin-top: 31px;
    font-size: 18px;
    padding: 16px 0;
    max-width: 268px;
    letter-spacing: 3px;
  }
}

/* service
---------------------------------------------------------------*/
.service {
  background: #3E3E3E;
  padding-top: 60px;
  height: 400px;
  margin-bottom: 300px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .service {
    height: 480px;
    padding-top: 43px;
    margin-bottom: 391px;
  }
}

.service-header {
  color: #fff;
}

.service-list {
  background: #fff;
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 45px;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  position: absolute;
  top: 164px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .service-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 117px;
    max-width: 343px;
    padding: 40px 16px 23px;
  }
}

.service-item {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .service-item + .service-item {
    margin-top: 40px;
  }
}

.service-logo {
  width: 100%;
  max-width: 50px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 1.4;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .service-title {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 4px;
  }
}

.service-text {
  font-size: 14px;
  text-align: left;
  line-height: 1.7em;
  margin-top: 18px;
}

@media screen and (max-width: 767px) {
  .service-text {
    margin-top: 20px;
    line-height: 1.71429;
  }
}

/* results
---------------------------------------------------------------*/
.results {
  margin-left: 40px;
  background: #3E3E3E;
  padding: 60px;
  padding-right: 0;
  padding-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .results {
    margin-left: 0;
    padding: 44px 0 40px 16px;
  }
}

.results-inner {
  padding-right: 0;
  padding-left: 0;
}

.results-header {
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  text-align: left;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .results-header {
    font-size: 30px;
    margin-bottom: 40px;
    margin-right: 16px;
    text-align: center;
  }
}

.results-list {
  width: 100%;
}

.results-item {
  background: #fff;
}

.results-title {
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .results-title {
    font-size: 12px;
    padding: 12px;
    padding-left: 19px;
  }
}

.results-text {
  padding: 0 16px 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .results-text {
    font-size: 10px;
    line-height: 1.5;
    padding: 0 12px 12px;
    padding-left: 19px;
  }
}

.slick-initialized .slick-slide {
  margin-right: 40px;
  display: block;
}

@media screen and (max-width: 767px) {
  .slick-initialized .slick-slide {
    margin-right: 22px;
    width: 279px;
  }
}

.results-btn {
  margin-top: 72px;
  text-align: center;
  width: 100%;
  max-width: 290px;
}

@media screen and (max-width: 767px) {
  .results-btn {
    margin-top: 43px;
    padding: 15px;
    margin-left: 14px;
    max-width: 316px;
  }
}

.slick-dots {
  text-align: left;
  bottom: calc(-24px + -40px);
}

@media screen and (max-width: 767px) {
  .slick-dots {
    bottom: calc(-24px + -20px);
    text-align: center;
    margin-right: 11px;
  }
}

.slick-dots li button:before {
  font-size: 12px;
  opacity: 1;
  color: #fff;
}

.slick-dots li.slick-active button {
  border: 1px solid #fff;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  font-size: 12px;
  opacity: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* price
---------------------------------------------------------------*/
.price {
  padding: 120px 0;
}

@media screen and (max-width: 767px) {
  .price {
    padding-top: 46px;
  }
}

@media screen and (max-width: 767px) {
  .price-inner {
    padding: 0 16px;
  }
}

.price-header {
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .price-header {
    padding-bottom: 40px;
  }
}

.price-list {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

.price-list::after {
  content: "※ 上記料金はサンプルです。";
  display: block;
  font-size: 12px;
  position: absolute;
  bottom: 20;
  left: 0;
  padding-top: 14px;
}

@media screen and (max-width: 767px) {
  .price-list::after {
    padding-top: 7px;
  }
}

.price-item-head,
.price-item-text {
  border: 1px solid #707070;
  padding: 16px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.20833;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .price-item-head,
  .price-item-text {
    font-size: 16px;
    padding: 18px 0;
  }
}

.price-item-head {
  width: 27%;
  text-align: center;
  background: #3E3E3E;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .price-item-head {
    width: 30%;
  }
}

.price-item-text {
  width: 73%;
  padding-left: 40px;
  background: #fff;
  color: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .price-item-text {
    padding-left: 20px;
    letter-spacing: 2px;
  }
}

/* comments
---------------------------------------------------------------*/
.comments {
  padding-bottom: 120px;
  position: relative;
  background: #3E3E3E;
}

@media screen and (max-width: 767px) {
  .comments {
    height: 444px;
  }
}

.comments::after {
  display: block;
  content: "";
  width: 100%;
  max-width: 1018px;
  height: 576px;
  position: absolute;
  bottom: 0;
  left: -40px;
  background: #3E3E3E;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .comments::after {
    display: none;
  }
}

.comments-inner {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .comments-inner {
    padding: 0 16px;
  }
}

.comment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .comment-list {
    position: relative;
  }
}

.comment-item {
  width: 100%;
  max-width: 666px;
  padding: 120px 60px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .comment-item {
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    padding: 42px 20px;
  }
}

.comment-header {
  margin-bottom: 60px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .comment-header {
    margin-bottom: 39px;
  }
}

.comment-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-item-wrapper + .comment-item-wrapper {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .comment-item-wrapper + .comment-item-wrapper {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .comment-item-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.comment-item-img {
  min-width: 100px;
}

@media screen and (max-width: 767px) {
  .comment-item-img {
    min-width: 60px;
  }
}

.comment-item-text {
  line-height: 1.5;
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .comment-item-text {
    padding-left: 20px;
    line-height: 1.42857;
    font-size: 14px;
  }
}

.comment-picture {
  width: 534px;
  height: 444px;
}

/* qa
---------------------------------------------------------------*/
.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  height: 952px;
  padding-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .qa {
    padding-bottom: 0;
    height: 821px;
  }
}

.qa-inner {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .qa-inner {
    padding: 0 16px;
  }
}

.qa-header {
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .qa-header {
    padding: 40px 0 46px;
  }
}

.qa-list {
  width: 100%;
  max-width: 612px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .qa-list {
    margin-left: 0;
  }
}

.qa-item {
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

.qa-item + .qa-item {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .qa-item + .qa-item {
    margin-top: 24px;
  }
}

.q-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.q-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.q-logo {
  display: block;
  width: 24px;
  height: 24px;
  background: #3B69FF;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-right: 16px;
}

.q-text {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .q-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.q-btn {
  display: block;
  background: url(../img/plus.png) no-repeat center center/contain;
  width: 15px;
  height: 15px;
}

.is-open {
  background: url(../img/minus.png) no-repeat center center/contain;
  height: 3px;
}

.a-container {
  display: none;
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .a-container {
    padding: 7px 14px;
  }
}

.a-text {
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .a-text {
    font-size: 15px;
  }
}

/* access
---------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .access {
    background: #3E3E3E;
    padding: 43px 0 57px;
  }
}

.access-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0;
}

@media screen and (max-width: 767px) {
  .access-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.access-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -80px;
  background: #3E3E3E;
  width: 100%;
  max-width: 980px;
  height: 100%;
  max-height: 504px;
}

.access-wrapper {
  z-index: 1;
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .access-wrapper {
    padding-left: 0;
  }
}

.access-title {
  color: #fff;
  text-align: left;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .access-title {
    text-align: left;
    margin-bottom: 42px;
  }
}

.access-address {
  color: #fff;
  margin-bottom: 32px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .access-address {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.access-btn {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 20px 80px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.access-btn:hover {
  background: #fff;
  color: #3E3E3E;
  border: 1px solid #3e3e3e;
}

@media screen and (max-width: 767px) {
  .access-btn {
    font-size: 18px;
    padding: 16px 100px;
    line-height: 1.25;
    letter-spacing: 1.8px;
  }
}

.access-map {
  z-index: 1;
  width: 100%;
  max-width: 726px;
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  .access-map {
    padding-left: 0;
    height: 241px;
    margin-bottom: 24px;
  }
}

.access-map iframe {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .access-map iframe {
    height: 241px;
  }
}

/* contact
---------------------------------------------------------------*/
.contact {
  padding: 60px 160px;
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 0;
  }
}

.contact-inner {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contact-inner {
    padding: 0 16px;
  }
}

.contact-head {
  background: url(../img/contact1.png) no-repeat center center/cover;
  padding: 67px 0 62px;
  border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 767px) {
  .contact-head {
    padding: 47px 16px 38px;
  }
}

.contact-header {
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .contact-header {
    margin-bottom: 12px;
  }
}

.contact-text {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact-text {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
  }
}

.contact-form {
  background: #fff;
  padding: 59px 120px 60px;
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    padding: 40px 12px;
  }
}

.contact-form-none {
  display: none;
}

.contact-list + .contact-list {
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .contact-list + .contact-list {
    margin-top: 30px;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-item-title {
  width: 100%;
  max-width: 188px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .contact-item-title {
    max-width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
  }
}

.mandatory {
  content: "必須";
  background: #FF4646;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 8px;
  margin-left: 12px;
  border-radius: 2px;
}

.contact-item-input {
  width: 100%;
}

.contact-item-input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 178px;
  border: 1px solid #707070;
  padding: 12px;
  background: url(../img/select-arrow.png) no-repeat right 12px center/16px 16px;
  margin-left: 40px;
  -webkit-transition: -webkit-box-shadow 3s ease 0;
  transition: -webkit-box-shadow 3s ease 0;
  transition: box-shadow 3s ease 0;
  transition: box-shadow 3s ease 0, -webkit-box-shadow 3s ease 0;
}

.contact-item-input select:hover {
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .contact-item-input select {
    margin-left: 0;
    max-width: 100%;
  }
}

.contact-item-input select ::-ms-expand {
  display: none;
}

.contact-item-input select option {
  font-size: 16px;
}

.contact-item-input input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 12px;
  margin-left: 40px;
  -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

.contact-item-input input[type="text"]:hover {
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
}

.contact-item-input input[type="text"]:focus {
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
}

.contact-item-input input[type="text"]:focus-visible {
  outline: none;
}

@media screen and (max-width: 767px) {
  .contact-item-input input[type="text"] {
    margin-left: 0;
    padding: 0 0 5px;
  }
}

.radio-label {
  position: relative;
  padding-left: 20px;
}

.radio-label + .radio-label {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .radio-label + .radio-label {
    margin-left: 0;
  }
}

input[type="radio"] {
  display: none;
}

.radio-span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.radio-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3B69FF;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.radio-label:hover .radio-span {
  border: 1px solid #3B69FF;
}

.radio-label:active .radio-span {
  background: rgba(73, 115, 255, 0.2);
}

input[type="radio"]:checked + .radio-span::before {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .contact-message {
    margin-top: 30px;
  }
}

.contact-item-message-title {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact-item-message-title {
    font-size: 16px;
  }
}

.contact-item-message-input {
  margin-top: 8px;
}

.contact-item-message-input textarea {
  resize: vertical;
  width: 100%;
  min-height: 200px;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

.contact-item-message-input textarea:hover {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact-item-message-input textarea:focus {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact-item-message-input textarea:focus-visible {
  outline: none;
}

@media screen and (max-width: 767px) {
  .contact-item-message-input textarea {
    min-height: 160px;
  }
}

.contact-footer {
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .contact-footer {
    padding-top: 32px;
  }
}

.checkbox-label {
  position: relative;
  padding-left: 40px;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox-span::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 4px;
  height: 16px;
  border-bottom: 3px solid #3B69FF;
  border-right: 3px solid #3B69FF;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox-label:hover .checkbox-span {
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.2);
}

.checkbox-label:active .checkbox-span {
  background: rgba(73, 115, 255, 0.2);
}

input[type="checkbox"]:checked + .checkbox-span::before {
  opacity: 1;
}

.submit-btn {
  margin-top: 40px;
  text-align: center;
  border: none;
}

@media screen and (max-width: 767px) {
  .submit-btn {
    display: block;
    width: 100%;
    max-width: 165px;
    margin: 40px auto 0;
  }
}

/* footer
---------------------------------------------------------------*/
footer {
  background: #3E3E3E;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 60px 0 57px;
  }
}

.footer-inner {
  padding: 70px 120px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns {
    margin: 0 auto;
  }
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-sns-item + .footer-sns-item {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .footer-sns-item + .footer-sns-item {
    margin-left: 50px;
  }
}

.fab {
  font-size: 36px;
  color: #fff;
  opacity: 0.6;
}

.footer-list {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .footer-list {
    margin-top: 42px;
    margin-bottom: 40px;
  }
}

.footer-item + .footer-item {
  margin-top: 24px;
}

.footer-item-link {
  color: #fff;
}

.footer-logo {
  font-size: 40px;
  color: #E3E3E3;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.footer-copyright {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.6;
  text-align: right;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    text-align: center;
  }
}

.top-scroll {
  position: fixed;
  bottom: 48px;
  right: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .top-scroll {
    bottom: 13px;
    right: 16px;
  }
}
